<div class="container">
  <aside class="filter-list-container">
    <div>
      <p>Filtros</p>
    </div>
    <details open>
      <summary class="filter-list-summary">
        Plataforma
      </summary>
      <ul class="filter-list">
        <li>
          <label class="filter-list-item">
            <input type="checkbox" name="platform[]" value="PC" />
            PC
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="checkbox" name="platform[]" value="Xbox" />
            Xbox
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="checkbox" name="platform[]" value="Playstation" />
            Playstation
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="checkbox" name="platform[]" value="Nintendo" />
            Nintendo
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="checkbox" name="platform[]" value="Mobile" />
            Mobile
          </label>
        </li>
      </ul>
    </details>
    <details open>
      <summary class="filter-list-summary">
        Preço
      </summary>
      <ul class="filter-list">
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="0">
            Grátis
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="5">
            Abaixo de R$5,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="10">
            Abaixo de R$10,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="15">
            Abaixo de R$15,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="25">
            Abaixo de R$25,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="50">
            Abaixo de R$50,00
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="radio" name="price" value="100">
            Abaixo de R$100,00
          </label>
        </li>
      </ul>
    </details>
    <details open>
      <summary class="filter-list-summary">
        Sistema
      </summary>
      <ul class="filter-list">
        <li>
          <label class="filter-list-item">
            <input type="checkbox" name="os[]" value="windows">
            Windows
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="checkbox" name="os[]" value="linux">
            Linux
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="checkbox" name="os[]" value="mac_os">
            macOS
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="checkbox" name="os[]" value="xbox_series_x">
            Xbox Series X
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="checkbox" name="os[]" value="playstation_5">
            Playstation 5
          </label>
        </li>
        <li>
          <label class="filter-list-item">
            <input type="checkbox" name="os[]" value="wii">
            Wii
          </label>
        </li>
      </ul>
    </details>
    <details open>
      <summary class="filter-list-summary">
        Categoria
      </summary>
      <div>
        <input type="text" name="category.name" placeholder="Buscar categoria" class="input input-full"/>
        <ul class="filter-list">
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="action" />
              Action
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="adventure" />
              Adventure
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="role_playing" />
              Role Playing
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="strategy" />
              Strategy
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="simulation" />
              Simulation
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="puzzle" />
              Puzzle
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="platformer" />
              Platformer
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="racing" />
              Racing
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="sports" />
              Sports
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="fighting" />
              Fighting
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="shooter" />
              Shooter
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="survival" />
              Survival
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="stealth" />
              Stealth
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="sandbox" />
              Sandbox
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="horror" />
              Horror
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="mmorpg" />
              MMORPG
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="open_world" />
              Open-World
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="educational" />
              Educational
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="music_rythm" />
              Music-Rythm
            </label>
          </li>
          <li>
            <label class="filter-list-item">
              <input type="checkbox" name="category[]" value="visual_novel" />
              Visual Novel
            </label>
          </li>
        </ul>
      </div>
    </details>
    <input type="submit" value="Aplicar Filtros" class="btn btn-full" />
  </aside>
  <div class="search-container">
    <div>
      <ul class="product-type-list">
        <li>
          <a href="" class="btn btn-sm">TODOS</a>
        </li>
        <li>
          <a href="" class="btn btn-sm">JOGOS</a>
        </li>
        <li>
          <a href="" class="btn btn-sm">DLCS</a>
        </li>
        <li>
          <a href="" class="btn btn-sm">GIFT CARD</a>
        </li>
        <li>
          <a href="" class="btn btn-sm">ASSINATURAS</a>
        </li>
        <li>
          <a href="" class="btn btn-sm">MOEDAS</a>
        </li>
        <li>
          <a href="" class="btn btn-sm">PACOTES</a>
        </li>
      </ul>
    </div>
    <header>
      <form action="/products" class="search">
        <input type="text" name="q" class="input input-full" placeholder="Buscar jogo ou palavra-chave" autofocus/>
        <button type="submit" class="btn btn-square">
          <span class="sr-only">
            Buscar
          </span>
          <%= image_tag("magnifying-glass-solid.svg", class: "icon", "aria-hidden": true) %>
        </button>
      </form>
    </header>
    <section class="search-results">
      <span>4 resultados</span>
      <ol class="search-result-list">
        <li>
          <div class="product-card">
            <div class="product-card-header"></div>
            <div class="product-card-body">
              <p>Sid Meier's Civilization VI - Platinum Edition</p>
              <ul class="product-system-list">
                <li>Win</li>
                <li>Linux</li>
                <li>Mac</li>
              </ul>
              <div class="product-price">
                <p class="product-price-badge badge badge-full">R$ 161,20</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="product-card">
            <div class="product-card-header"></div>
            <div class="product-card-body">
              <p>Fortnite</p>
              <ul class="product-system-list">
                <li>Win</li>
                <li>Mac</li>
                <li>PS5</li>
                <li>Xbox</li>
                <li>Wii</li>
              </ul>
              <p>00d 12:37:26</p>
              <div class="product-price">
                <p class="badge badge-warning">-100%</p>
                <p class="product-price-badge badge badge-full">Grátis</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="product-card">
            <div class="product-card-header"></div>
            <div class="product-card-body">
              <p>World Of Warcraft</p>
              <ul class="product-system-list">
                <li>Win</li>
                <li>Mac</li>
              </ul>
              <p>00d 12:37:26</p>
              <div class="product-price">
                <p class="badge badge-warning">-75%</p>
                <p class="product-price-badge badge badge-full">R$ 15,59</p>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="product-card">
            <div class="product-card-header"></div>
            <div class="product-card-body">
              <p>Alan Wake II</p>
              <ul class="product-system-list">
                <li>Win</li>
                <li>PS5</li>
                <li>Xbox</li>
              </ul>
              <div class="product-price">
                <p class="product-price-badge badge badge-full">R$230,00</p>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </section>
  </div>
</div>
